@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

:host {
  display: block;

}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}
mat-card{
  width: 33%;
  text-align: center;
  left: 33%;
  font-family: 'Alegreya', serif;
}

#pagei{
  width: 33%;
  text-align: center;
  left: 33%;
}

.mat-raised-button{
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  width: 10%;
  text-align: center;
  
}


.form{
  background-image: url("../../../assets/image/comment.png");
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}






